@import '../../styles/index.scss';

.topnav{
    background:$col-nav;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:2rem;
    height:75px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    @media (max-width: 800px) {
        display:block;
        height:auto;
        min-height:75px;
        padding-left:1rem;
        
        
    }
   
    &__title{
        font-weight:500;
        @media (max-width: 800px) {
            margin-right:auto;
            text-align:left;
            
        }
        span{
            color:rgb(221, 218, 218);
            transform:scale(1.4);
        }
       
    }
    &__filter , &__select{
        display:flex;
        align-items:center;
        justify-content:center;
        border:1px solid rgb(202, 202, 202);
        box-shadow: 0px 2px 3px 0px #dfdede;
        padding:.4rem 1rem;
        border-radius:5px;
        margin-left:.8rem;
        color:rgba(85,88,111,1);
        background:#fff;
        cursor:pointer;
        @media (max-width: 800px) {
            margin-left:0;
            margin-right:.8rem;
            
        }
        &:hover{
            background:inherit;
            box-shadow:none;
        }
    }
    &__select p{
        margin-right:.5rem;
        font-weight:500;
    }
    &__select{
        color:rgb(221, 218, 218);
    }
    &__filter p{
        margin-left:.5rem;
    }
    &__options{
        display:flex;
        @media (max-width: 800px) {
            margin-right:auto;
            text-align:left;
            margin-top:.7rem;
            
        }
    }
}