@import '../../styles/index.scss';

.sidebar{
    position:relative;
    width:255px;
    height:100vh;
    background:$col-side-bar;
    box-sizing: border-box;
    padding-right: 1.5rem;
    padding-left:1.2rem;
    padding-top:1.3rem;
    @media (max-width: 800px){
        
            position:fixed;
            left:0;
            top:0;
            z-index: 98;
            transition:all .4s ease-in-out;
            background:#fff;  
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
    }
    &__x{
        display:none;
        position:absolute;
        top:1.5rem;
        right:-3rem;
        cursor:pointer;
        @media (max-width: 800px) {
            display:block;
        }
    }

    &__links{
        margin-top:1.5rem;
    }
    &__connect{
       font-size:.8rem;
       font-weight:400;
       text-align:left;
       margin-left:1rem;
       margin-top:1.2rem;
    }
    &__connects{
        margin-top:.1rem;
    }

    &__audit{
        position:absolute;
        background:$col-side-bar;
        width:calc(100% - 2.2rem);
        bottom:0rem;
        z-index:99;
    }
    &__audits{
        margin-bottom:2rem;
        font-weight:500;
    }
    &__hr{
       width: 100%;
       height:1px;
       //color: rgba(209,214,222,1);
       background-color: rgba(209, 214, 222, 0.747);;
    }
}

.sidebar__hide{
   @media (max-width:800px){
      left:-305px;
      transition:left 1s linear;
      transition:all .4s linear;
   }
}

