.apilogs{
    width:100%;
    height:calc(100vh - 150px);
    overflow:hidden;
    padding:0 2rem;
    width:100%;
    overflow-y: scroll;  
    @media (max-width: 800px) {
        padding:0 1rem;
        overflow-x: scroll;
        // height:inherit;
        overflow-y: visible;
        width:inherit; 
        
       
        
    }
    
    @media (max-width: 600px){
        
            margin-right:1rem;    
        
    }
    //background:blue;
}


