.auditlogs{
    width:calc(100vw - 265px);
    height:calc(100vh - .5rem);
    background-color:#fff;
    margin-top:.5rem;
    box-sizing:border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}